<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

    <%- include('partials/navbar.ejs') %>
    
    <div id="content">
        <div id="carrossel">
            <ul>
                <li>
                    <img src="../public/images/img1.jpeg" alt="Nome da Imagem" title="Nome da Imagem"/>
                </li>
                <li>
                    <img src="../public/images/img2.jpeg" alt="Nome da Imagem" title="Nome da Imagem"/>
                </li>
                <li>
                    <img src="../public/images/img3.jpeg" alt="Nome da Imagem" title="Nome da Imagem"/>
                </li>
                <li>
                    <img src="http://www.placehold.it/200x150" alt="Nome da Imagem" title="Nome da Imagem"/>
                </li>
                <li>
                    <img src="http://www.placehold.it/200x150" alt="Nome da Imagem" title="Nome da Imagem"/>
                </li>
            </ul>
        </div>
        <nav id="menu-carrossel">
            <a href="#" class="prev" title="Anterior">Anterior</a>
            <a href="#" class="next" title="Pr칩ximo">Pr칩ximo</a>
        </nav>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">P치gina Inicial</h1>
          <p class="lead">Ol치! Seja muito bem vindo.</p>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/foot.ejs') %>

</body>
</html>