<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

    <%- include('partials/navbar.ejs') %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Página Inicial</h1>
          <p class="lead">Olá! Seja muito bem vindo.</p>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <%- include('partials/foot.ejs') %>

</body>
</html>